body{
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #3C486B;
    color: white;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1000px;
    background-color: #EF3340;
}
#container > #white-box{
    height: 100px;
    width: 1000px;
    background-color: white;
}